<!DOCTYPE html>
<html>
<head>
    <title>@Page.Title</title>
    @RenderSection("head", required: false)

    <link href="~/Scripts/library js/fontawesome-free-5.14.0-web/css/all.css" rel="stylesheet" />


    <link href="~/Content/MyCss/Login.css" rel="stylesheet" />
</head>
<body>
    @RenderBody()


    
</body>
</html>
